.cus {
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: rgb(0, 0, 0);
    padding-left: 109px;
}

#img-padding {
    /* margin-left: 10%;
    margin-top: 10; */
    margin: 10%;
}