 
  .dropdown {
    position: relative;
    display: inline-block;
    /* background-color: aqua; */
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    /* background-color: #ff8c75; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropbtn{
    height: 45px;
    background-color: #ffbb76;
    width: 79px;
    border-radius: 7px;
    border-color: #ff5c57;

  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }